<a href="https://colab.research.google.com/github/DostdarDost/DATA-SCIENCE-AND-ARTIFICIAL-INTELLIGENCE-DSAI-GILGIT/blob/main/Module_01_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module-01, Python Crash Course
>
>># Python Data types
### 1. Numeric types

*   Int
*   float
*   Complex

In [4]:
x=5 # 5 is a intger Number
type(x)

int

Check the type of data using print Function

In [9]:
print(type(x))

<class 'int'>

Write a code of line which take intger number input from user

In [14]:
num= int(input("The entered number is: "))

The entered number is: 56

In [15]:
print(f"The given ingter number is {num}")

The given ingter number is 56

In [28]:
# Task: Add two integers
num1=5
num2=2
result = num1 +num2
print(result)

7

##### Folating Type

In [17]:
y=0.5 # folating Number
type(y)

float

Write a line of python code take a folating type from the user!

In [19]:
num=float(input("Enter the float type: "))

Enter the floating type: 5.8

In [29]:
# Task: Multiply two floats
result = num * 2.5
print(result)

14.5

##### Complex Type

In [21]:
z=2+3j # Complex number
type(z)

complex

In [25]:
z=complex(input("Enter the Complex Number: "))

Enter the Complex Number: 3+5j

In [27]:
print(type(z))

<class 'complex'>

### 2. Sequence Types

*   Str

*   list
*   tuple

##### String

In [31]:
# Example
string_variable = "Hello, World!"

In [32]:
# Task: Concatenate two strings
new_string = string_variable + " How are you?"
print(new_string)

Hello, World! How are you?

write a python code to say your firend "hi Dostdar, How are you? I hope you are fine"

##### List

In [34]:
# Example
list_variable = [1, 2, 3, 4, 5]

In [35]:
# Task: Append an element to the list
list_variable.append(6)
print(list_variable)

[1, 2, 3, 4, 5, 6]

##### Tuple

In [36]:
# Example
tuple_variable = (10, 20, 30)

In [37]:
# Task: Access an element in the tuple
element = tuple_variable[1]
print(element)

20

### 3. Set and Mapping Types

##### Set

In [41]:
# Example
set_var = {1, 2, 3, 4, 5}

In [42]:
# Task: Remove an element from the set
set_var.remove(3)
print(set_var)

{1, 2, 4, 5}

##### Dictionary

In [51]:
# Example
dictionary_var = {'University': 'Kiu', 'Porivence': 'Gilgit Baltistan'}

In [52]:
# Task: Add a new key-value pair to the dictionary
dictionary_var['Teshli'] = 'Danyore'
print(dictionary_var)

{'University': 'Kiu', 'Porivence': 'Gilgit Baltistan', 'Teshli': 'Danyore'}

### 4. Boolean and None Type

##### Boolean

In [53]:
# Example
bool_variable = True

In [54]:
# Task: Check if a boolean variable is True
if bool_variable:
    print("It's True!")

It's True!