<a href="https://colab.research.google.com/github/DostdarDost/DATA-SCIENCE-AND-ARTIFICIAL-INTELLIGENCE-DSAI-GILGIT/blob/main/Python_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
# to check the data type
mylist=[1,2,3,4]
type(mylist)

list

In [5]:
# Create a Tuple:
# to check the data type
mytuple1 = (1,2,3,4)
type(mytuple1)

tuple

In [3]:
mylist[1]

2

In [6]:
mytuple1[1]

2

In [7]:
# second tuples
mytuple2 = ("apple","banana","cherry")
mytuple2

('apple', 'banana', 'cherry')

In [10]:
# tuples to unchageable example
mytuple2[1] = "orange"

TypeError: 'tuple' object does not support item assignment

In [9]:
# list is changeable example
mylist[1] = "orange"
mylist

[1, 'orange', 3, 4]

In [12]:
# add cancatnation
new_tuples=mytuple2 + mytuple1
new_tuples

('apple', 'banana', 'cherry', 1, 2, 3, 4)

In [13]:
# sliging
new_tuples[1:3]

('banana', 'cherry')

In [16]:
new_tuples[-6]

'banana'

In [23]:
new_tuples[1]
print(new_tuples[1])
type(new_tuples[1])

banana

str

In [24]:

new_tuples[1:2]
print(new_tuples[1:2])
type(new_tuples[1:2])

('banana',)

tuple

In [25]:
tuples_of_fruit=new_tuples[:3] # 3 is not inclued 3 is uper limit
tuples_of_fruit

('apple', 'banana', 'cherry')

In [26]:
tuples_of_number=new_tuples[3:] # 3 is inclued 3 is lower limit

tuples_of_number

(1, 2, 3, 4)

In [27]:
# lenght of new_tuples
len(new_tuples)

7

In [28]:
# Lenght of tuples_of_fruit
len(tuples_of_fruit)

3

In [29]:
#lenght of tuples of number
len(tuples_of_number)

4

In [31]:
tuple=("apple",)
type(tuple)

tuple

### Example
String, int and boolean data types:

In [32]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [33]:
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### Example
A tuple with strings, integers and boolean values:

In [36]:
tuple1 = ("abc", 34, True, 40, "male")
# What is the data type of a tuple?
print(type(tuple1))

<class 'tuple'>